{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header class="home-banner">
        <h1>Bienvenue chez <strong>Lojeris</strong></h1>
        <p>Votre partenaire de confiance en immobilier</p>
    </header>

    <section class="container">
        <h2>Nos dernières offres</h2>
        <div class="properties">
            {% for logement in logements %}

                {% include 'logement/card.html.twig' %}


            {% endfor %}
        </div>
    </section>
{% endblock %}
