{% extends 'base.html.twig' %}

{% block title %}New Tipe{% endblock %}

{% block body %}
    <h1>Create new Tipe</h1>

    {{ include('tipe/_form.html.twig') }}

    <a href="{{ path('tipe_index') }}">back to list</a>
{% endblock %}
