<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Lojeris!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    
    <body>
    {% block header %}
    <header class="site-header">
        <div class="cta-header">
            <div class="container">
                <ul class="cta-contact inline-list mt-3">
                    <li>Téléphone : <a href="tel:0123456789">0123456789</a></li>
                    <li>Email : <a href="mailto:contact@lojeris.fr">contact@lojeris.fr</a></li>
                </ul>
                <div class="cta-social">
                    <ul class="inline-list">
                        <li>
                            <a href="http://www.facebook.com">
                                <span class="fa-stack fa-lg mt-3">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.twitter.com">
                                <span class="fa-stack fa-lg mt-3">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container main-header">

            <nav class="main-nav">
                <ul>
                    <li><a href="{{ path('homepage') }}">Accueil</a></li>
                    <li><a href="#">Notre Agence</a></li>
                    <li><a href="#">Biens Immobiliers</a></li>
                </ul>

                {{  render(controller('App\\Controller\\VilleController::villeList')) }}
            </nav>
        </div>
    </header>

    {% endblock %}

    <main>

    {% block body %}{% endblock %}

    </main>

    {% block footer %}


    <footer class="site-footer">
        <div class="container text-center">
            Copyright © 2013 Lojeris
        </div>
    </footer>

    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        const ELEMENT = $('#test');
$('#js-toggle').on('click', function () {
    ELEMENT.slideToggle();
    $(this).text(($(this).text() === 'Se renseigner') ? 'Fermer' : 'Se renseigner');
});

    </script>
    </body>
</html>
